* {
  box-sizing: border-box;
}

header{
	width:100%;
	background-color:#ffd600;
	padding-left:10px;
	padding-top:20px;
	
	height: 95px;
}
.row{
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}
.row::before, .row::after{
	display: table;
	content: ' ';
}
.row::after{
	clear:both;
}
div.cards{
	float:left;
	min-width:220px;
	min-height:400px;
	margin-left: 1.04166666%;
    margin-right: 1.04166666%;
    margin-top:30px;
}

div.border{
	border-style:solid;
	border-width:1px;
}
.cards img{
	width:100%;

}
div.wording{
	display:block;
	padding-left:20px;
	
}
div.wording h2{
	font-size:medium
}
}
div.wording h2, div.wording p{
	margin-top:1px;
	padding:0;
	font-family: Roboto;  